
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
db.sqlite3
*.sqlite3

# OS specific
.DS_Store
Thumbs.db

# Logs & Debugging
*.log
debug_output.txt

# Media
media/
